/*1-General*/

 #mapCol {
 	height: 100vh;
}

.leftCol{
	overflow: auto;
	max-height: 100vh;
}

@media screen and (max-width: 992px){
	 #mapCol {
	 	height: 35vh;
	}

	.leftCol{
		max-height: 62vh;
	}
}

body, html {
  height: 100%;
  width: 100%;
}

.btn {
	padding: 0 1rem;
}

/*2 - Star Select*/

#starSelection .row{
	margin: 1rem 0;
}

#starMin, #starMax{
	padding: 0.5rem 0;
}

/*3 - Restaurant Col*/

.padding0 {
	padding: 0 0.3rem !important;
}

.streetview{
	width: 100%;
}

.colStreetview{
	padding: 0 !important;
}

.collapsible-header i{
	margin: 0;
}

.ratingsRestaurant {
	padding-right: 1rem;
	float: left;
}

.colRestaurantRatings {
	text-align: justify;
	padding: 0.5rem !important;
}
