 #mapCol {
 	height: 100vh;
}

.leftCol{
	overflow: auto;
	max-height: 100vh;
}

body, html {
  height: 100%;
  width: 100%;
}

.row .col.s3.padding0 {
	padding: 0;
}

.row .col.S4.streetview{
	width: 100%;
	height: auto;
}

.streetview{
	width: 100%;
}

.collapsible-header i{
	margin: 0;
}

.btn {
	padding: 0 1rem;
}

.row .col.s12.divBtnAddRestaurant{
	padding: 0.5rem;
}

#starSelection .row{
	margin: 1rem 0;
}

.ratingsRestaurant {
	padding: 0.5rem;
}

.colRestaurantRatings {
	text-align: justify;
	padding: 0.5rem !important;
}
